<a href="https://colab.research.google.com/github/Rhucha56/ProgrammingAssignment2/blob/master/perceptron2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
def unitStep(v):
    if v >=0:
      return 1
    else:
      return 0
def perceptronModel(x,w,b):
  v = np.dot(w,x) + b
  y = unitStep(v)
  return y

def spectacleLogic(x):
  w=[2,5]
  b=20
  return perceptronModel(x,w,b)

In [2]:
#reading file
import pandas as pd
data = pd.read_csv("/content/drive/MyDrive/Deep Learning Dataset/txt.csv")
data

   exposure  reading  spectacles
0       6.0        4           1
1       6.0        2           0
2       4.0        3           0
3       4.5        4           1
4       3.0        8           1
5       2.0        2           0
6       5.0        1           0

In [3]:
#get data into variables
x=data.iloc[:,[0,1]]
y=data.spectacles

In [4]:
#converting into array
x=np.array(x)
y=np.array(y)

In [13]:
#y prediction
size=y.size
y_pred=np.zeros(y.size)
w=[1,8.5]
b= -30
for i in range(size):
  y[i]=perceptronModel(x[i],w,b)

In [14]:
#getting accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y,y_pred)
score

0.5714285714285714